.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{

	border: solid 1px black;
}

/* media Querries*/

@media	only screen and (min-width: 450px){
	body{background-color: red;
	}
@media	only screen and (min-width: 750px){
	body{background-color: yellow;}
	}

@media	only screen and (min-width: 961px){
	body{background-color: teal;}
	}

	.foot {
		text-align: center
	}
	.nav1 ul {

		list-style-type: none;
	}